.boxpanel{
    position: absolute;
    top: 58px;
    right: -6px;
    width: 410px;
    background: rgb(255,255,255);
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px, rgba(0, 0, 0, 0.188235) 0px 2px 6px 0px;
}
/*panel Header*/
.panel_header{
    height: 30px;
}
.tab1{
     float: left;
     line-height: 30px;
     font-size: 14px;
    padding: 0px 10px;
}
.panel_tab{
    float: left;
    height: 28px;
    line-height: 28px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(15, 137, 245);
    border-radius: 2px;
}
.panel_tab_li {
    float: left;
    color: rgb(15, 137, 245);
    font-size: 14px;
    cursor: pointer;
    padding: 0px 10px;
}
.panel_tab_li_active {
    composes:panel_tab_li;
    color: rgb(255, 255, 255);
    background: rgb(15, 137, 245);
}
.traffic_tag {
    float: right;
    line-height: 30px;


}
.smooth_jam{
    float: left;
    font-size: 14px;
}
.traffic_level {
    float: left;
    margin: 11px 6px 0px;
}
.traffic_level_li{
    float: left;
    width: 30px;
    height: 6px;
    margin: 0px 1px
}
.traffic_level_1{
    composes:traffic_level_li;
    background: #277b04;
}
.traffic_level_2{
    composes:traffic_level_li;
    background: #34b100;
}
.traffic_level_3{
    composes:traffic_level_li;
    background: #ffcb00;
}
.traffic_level_4{
    composes:traffic_level_li;
    background: #ff8800;
}
.traffic_level_5{
    composes:traffic_level_li;
    background: #df0000;
}
/*panel Body*/
.panel_body {
    margin-top: 10px; 
}
.time_lbl {
    color: rgb(153, 153, 153);
}
.date{
    padding: 0px 14px;
    margin-left: 20px;
}

.checkboxes{
    margin-left: 110px;
}

.splitline_H{
    width:320px;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 0;
    height:2px;
    border-bottom:2px solid #eee;
}
.hisPlayer_panel{    
    margin: 5px 40px 5px 40px;
}
.hisPlayer_btnL{
    margin-left:64px; 
}
.hisPlayer_btnR{
float:right;
    margin-right:40px;
}
.hisPlayer_btn1{

    margin-left: 10px;

}
.hisPlayer_btn2{
    margin: 10px 0 10px 148px;

}
.QueContent{
background-color:#fff;
}
.radio_btnGroup{
    /*margin: 5px 0 10px 70px;*/
    float:right;
}
.selectCra{
    float:left;
    margin-left:10px;
}
.radio_btnGroup2{
    margin: 5px 0 10px 100px;

}
.ConListPanel{
    margin-left:50px;
}
.slider{
    width:60px;
}
.button_primary{
 margin-left: 150px;
    margin-top: 10px;
    color: #fff;
  background-color: #007edf;
  border-color: #007edf;
  border-radius: 2px;
}
.button_primary:hover,
.button_primary:focus {
  color: #ffffff;
  background-color: #4bbef2;
  border-color: #4bbef2;
}
.button_primary:hover > a:only-child,
.button_primary:focus > a:only-child {
  color: currentColor;
}
.button_primary:hover > a:only-child:after,
.button_primary:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.button_primary:active,
.button_primary.active {
  color: #f2f2f2;
  background-color: #4bbef2;
  border-color: #4bbef2;
}
.button_primary:active > a:only-child,
.button_primary.active > a:only-child {
  color: currentColor;
}
.button_primary:active > a:only-child:after,
.button_primary.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}